<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fastest Cars - Cars</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="cars.html">Cars</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="playwrite-vn-f"> <h1>The Fastest Cars in the World</h1> </div>
        

        <div class="car-list">
            <div class="car-card">
                <div class="car-left">
                    <h3>Koenigsegg Jesko Absolut</h3>
                    <img src="images/koenigsegg.jpg" alt="Koenigsegg Jesko Absolut">
                    <p>Top Speed: 330 mph (theoretical)</p>
                </div>
                <div class="car-right">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem reiciendis est deserunt voluptatum quisquam dicta nihil perspiciatis voluptatibus aspernatur pariatur id, quia libero error, repudiandae atque ut distinctio fuga maiores incidunt? Itaque quod facilis sunt earum quasi deleniti, nisi quae, dolorem sit omnis quas. Doloribus repellat rerum consectetur sed sapiente.</h3>
                </div>
            </div>
        </div>
        

            <!--<div class="car-card">
                <h3>Bugatti Chiron Super Sport 300+</h3>
                <img src="images/bugatti.jpg" alt="Bugatti Chiron">
                <p>Top Speed:  mph</p>
            </div>
            
            <div class="car-card">
                <h3>Koenigsegg Agera RS</h3>
                <img src="" alt="Koenigsegg Agera RS">
                <p>Top Speed:  mph</p>
            </div>

            <div class="car-card">
                <h3>Hennessey Venom GT</h3>
                <img src="" alt="Hennessey Venom GT">
                <p>Top Speed:  mph</p>
            </div>

            <div class="car-card">
                <h3>Bugatti Veyron Super Sport</h3>
                <img src="" alt="Bugatti Veyron Super Sport">
                <p>Top Speed:  mph</p>
            </div>

            <div class="car-card">
                <h3>Rimac Nevera</h3>
                <img src="" alt="Rimac Nevera">
                <p>Top Speed: mph</p>
            </div>

            <div class="car-card">
                <h3>McLaren Speedtail</h3>
                <img src="" alt="McLaren Speedtail">
                <p>Top Speed: mph</p>
            </div>

            <div class="car-card">
                <h3>Koenigsegg Regera</h3>
                <img src="" alt="Koenigsegg Regera">
                <p>Top Speed: mph</p>
            </div>

            <div class="car-card">
                <h3>SSC Ultimate Aero</h3>
                <img src="" alt="SSC Ultimate Aero">
                <p>Top Speed: mph</p>
            </div>

            <div class="car-card">
                <h3>Bugatti Chiron (Standard)</h3>
                <img src="" alt="Bugatti Chiron (Standard)">
                <p>Top Speed: mph</p>
            </div>
        -->
    </main>
    <footer>
        <p>&copy; 2025 Fastest Cars | Designed by Bennyson Samuel</p>
    </footer>
</body>
</html>
